cui-carousel {
    display: block;
    position: relative;
    width: 640px;
    margin-left: 200px;
    //height: 320px;
    overflow: hidden;
}

/*
cui-carousel.__toPrev {
    slide.__isPrev {
        z-index: 0;
    }
    slide.__isNext {
        z-index: 1;
    }
}

cui-carousel.__toNext {
    slide.__isPrev {
        z-index: 1;
    }
    slide.__isNext {
        z-index: 0;
    }
} */


@import './components/arrows';
@import './components/slides';
@import './nodeInserted';
